section
	h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, distinctio.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, nobis, eum? Amet accusantium error inventore, aliquam ad nesciunt, nulla sunt neque voluptatum in cum aliquid, quis numquam tempora. Quasi harum quae itaque, rem reiciendis tempore.

	figure.align-none
		img(src="/assets/imgs/img-800-500.jpeg", alt="Img")
		figcaption Lorem ipsum dolor sit amet.

	p Explicabo laudantium sapiente ab inventore aliquam optio, debitis vero odio corrupti unde. Officiis soluta doloribus nulla, voluptatibus, eaque quae ipsa, asperiores quibusdam laboriosam earum eum! Sint tempora ut, facere laudantium ea animi neque necessitatibus sunt?

	h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, distinctio.
	figure.align-right
		img(src="/assets/imgs/img-800-500.jpeg", alt="Img")
		figcaption Lorem ipsum dolor sit amet.
	p Officia voluptatibus quos numquam! Impedit voluptas, cum dolores voluptates natus aliquid aut eligendi ea fugiat. Recusandae harum laborum deserunt quas qui illo, maxime laudantium aliquid nisi doloribus et quo facilis dicta veniam, eius eligendi, voluptates.
	p Repellendus soluta iste sint ex, numquam laborum eligendi distinctio dolores amet molestias aliquam laboriosam tenetur nulla libero! Ab recusandae optio, hic enim eligendi voluptatum perferendis eius debitis nemo sequi consequatur ut nihil laudantium a corporis!

section
	h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, distinctio.
	img.align-left(src="/assets/imgs/img-800-500.jpeg", alt="Img")
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro impedit vel hic, architecto maiores quasi maxime magni numquam aperiam esse harum, at repellat itaque illum repudiandae ipsa animi consequuntur ducimus ut ipsum similique reprehenderit inventore eius eum! Voluptatum maiores, quaerat deserunt maxime quae neque, natus omnis illum tenetur quam eius.

	ul
		li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, similique.
		li Dolorem incidunt ipsa delectus iusto blanditiis, ratione accusantium quis ea.
		li At tempora quibusdam ad blanditiis dolorem asperiores, veniam minus ipsam.
		li Reprehenderit, maiores voluptatem odit laborum eveniet itaque dolor atque recusandae.
		li Veritatis dolores ipsum excepturi reprehenderit deleniti, tenetur dolor facere minima!
		
	p Officia voluptatibus quos numquam! Impedit voluptas, cum dolores voluptates natus aliquid aut eligendi ea fugiat. Recusandae harum laborum deserunt quas qui illo, maxime laudantium aliquid nisi doloribus et quo facilis dicta veniam, eius eligendi, voluptates.

	h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, amet.
	p Repellendus soluta iste sint ex, numquam laborum eligendi distinctio dolores amet molestias aliquam laboriosam tenetur nulla libero! Ab recusandae optio, hic enim eligendi voluptatum perferendis eius debitis nemo sequi consequatur ut nihil laudantium a corporis!

	ol
		li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, similique.
		li Dolorem incidunt ipsa delectus iusto blanditiis, ratione accusantium quis ea.
		li At tempora quibusdam ad blanditiis dolorem asperiores, veniam minus ipsam.
		li Reprehenderit, maiores voluptatem odit laborum eveniet itaque dolor atque recusandae.
		li Veritatis dolores ipsum excepturi reprehenderit deleniti, tenetur dolor facere minima!

	h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, distinctio.
	p Atque quos molestiae et! Quidem distinctio iste maxime quas necessitatibus explicabo perferendis obcaecati numquam odio quam officia dolores libero earum, exercitationem laborum eaque soluta, ullam accusamus ducimus assumenda. Modi sit, fugit, necessitatibus cum earum optio.

	dl
		dt Lorem ipsum.
		dd Lorem ipsum dolor sit amet.
		dt Quos, omnis.
		dd Nobis provident, accusantium totam vel!
		dt Quisquam, reiciendis!
		dd Molestias soluta quia nam non.
		dt Quae, nostrum.
		dd Itaque pariatur vero quasi ex.
		dt Quidem, amet.
		dd At ipsum provident, quidem fuga.
		dt Quaerat, numquam?
		dd Praesentium ullam, beatae non nostrum.
	p Officia voluptatibus quos numquam! Impedit voluptas, cum dolores voluptates natus aliquid aut eligendi ea fugiat. Recusandae harum laborum deserunt quas qui illo, maxime laudantium aliquid nisi doloribus et quo facilis dicta veniam, eius eligendi, voluptates.

	h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	p Repellendus soluta iste sint ex, numquam laborum eligendi distinctio dolores amet molestias aliquam laboriosam tenetur nulla libero! Ab recusandae optio, hic enim eligendi voluptatum perferendis eius debitis nemo sequi consequatur ut nihil laudantium a corporis!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione impedit cumque aperiam sed unde iusto deserunt voluptate, voluptatum eum dicta, eveniet eligendi mollitia itaque rem laudantium quisquam perferendis totam cupiditate hic, inventore earum vero quaerat. Iste, fugit, quisquam velit odio hic vel temporibus, quod, enim voluptatum facilis rerum asperiores consequuntur.
