nav
	div.container
		header.navbar-header.col-sm-4
			div.group
				div.col-10.col-md-12
					h2.navbar-brand: a(href="/") JCD Flexfolio
				div.col-2.navbar-toggle
					a.btn.btn-default(href="#") Menu

		div.nav-menu.navbar-collapse.col-12.col-sm-8
			ul.navbar__items.navbar--right
				li: a(href="/") Home
				//- li: a(href="/project-index.html") Portfolio
				li: a(href="/blog-single.html") Blog
				li: a(href="/grid.html") Grid