nav
	div.container.page-wrap
		header.navbar__header
			//- h2.navbar__brand: a(href="/")
			//- 	span.seo-hidden Sheena Mathieken
			//- 	img.avatar.site__logo(src="https://unsplash.it/200/200", alt="Logo")

			div.nav__menu
				ul.navbar__items.navbar--right.list-inline
					li: a(href="#") Projects
					li: a(href="#") Journal
					li: a(href="#") Information