@import "settings/settings-colors";
@import "settings/settings-typography";
@import "settings/settings-breakpoints";

// ANIMATION
$fast: 0.2s !default;
$pace: 0.5s !default;
$slow: 1.0s !default;

// LAYOUT
$default-corners: .25em !default;

//PLUGINS
$fa-font-path: "../vendor/font-awesome/fonts";

@import "config/reset";
@import "config/plugins";
