doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="description", content="Base configuration of sass files for all JCD projects.")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		title Sheena Matheiken
		
		link(rel="stylesheet", href="assets/css/style.css")
	body
		header.site-header
			nav.navbar.navbar-fixed.page-wrap
				.container-fluid.grid-lines
					div.navbar__brand
						a(href="index.html"): img(src="assets/imgs/matheiken.svg", alt="Logo")
						h1.seo-hidden Sheena Matheiken
					ul.navbar__items
						li: a.active(href="index.html") Projects
						li: a(href="#") Journal
						li: a(href="about.html") Information
		block content
		footer.site-footer
			p &copy; 2016 Matheiken
