doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="description", content="Base configuration of sass files for all JCD projects.")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		title JCD SASS Base
		
		link(rel="stylesheet", href="/assets/css/style.css")
	body
		div.container.page-wrap
			header.site-header
				nav.navbar.navbar-clean
					div.navbar__brand
						a(href="/"): img(src="/assets/imgs/matheiken.svg", alt="Logo")
						h1.seo-hidden Sheena Mathieken
					ul.navbar__items
						li: a.active(href="#") Projects
						li: a(href="#") Journal
						li: a(href="#") Information
			block content
