.list {
	&--links {
		li a {
			&:before {
				content: "→";
				display: inline-block;
				margin-right: $gutter/4;
			}
		}
	}

	&--social {
		li a {
			display: inline-block;
			padding: .5em 0;
		}
	}
}