extends layouts/master.jade

mixin project()
	article.project.flex-item
		p.project__category Film
		h4.project__title Project Title
		p.project__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, suscipit.

block content
	main.container.page-wrap
		section.projects.flex-container
			header.flex-item: h3.projects__group-name Ongoing
			div.flex-container.flex-4-5
				+project
				+project
				+project
				+project
				+project
				+project