extends layouts/master.jade

mixin project(_category,_name,_src)
	article.project.flex-item.hover-fixed.hover-fixed__trigger
		figure.project__image.hover-fixed__image
			img(src=_src, alt="Project Image")
		p.project__category: a(href="#")= _category
		a(href="single-post.html").project__link
			h4.project__title
				!= _name + '&nbsp;<span class="arrow">&rarr;</span>'
			p.project__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, suscipit.

block content
	main
		section.projects.flex-container
			header.projects__header.flex-item: h3.projects__group-name Ongoing
			div.flex-container.projects-wrap
				+project('Experience Design', 'New Lab', "https://unsplash.it/1200/600/?random")
				+project('Feature Film', 'Sea to Shining Sea', "https://unsplash.it/800/400/?random")
				+project('Feature Film', 'Yojimbo', "https://unsplash.it/960/540/?random")
		section.projects.flex-container
			header.projects__header.flex-item: h3.projects__group-name 2015&ndash;2013
			div.flex-container.projects-wrap
				+project('Feature Film', 'La Vos De Los Silenciados', "https://unsplash.it/600/540/?random")
				+project('Talk', 'Rise of the Unemployables', "https://unsplash.it/980/540/?random")
				+project('Residency', 'New Inc', "https://unsplash.it/969/540/?random")
				+project('Talk', 'The Revolution Will Not Be Televised', "https://unsplash.it/960/540/?random")
				+project('Experience Design', 'AT&T Media Lab', "https://unsplash.it/960/600/?random")
				+project('UX + Design', 'Correlate Data', "https://unsplash.it/960/800/?random")
				+project('UX + Design', 'B-Team', "https://unsplash.it/960/840/?random")
		section.projects.flex-container
			header.projects__header.flex-item: h3.projects__group-name 2012&ndash;2010
			div.flex-container.projects-wrap
				+project('Independent', 'Uniform Book', "https://unsplash.it/960/740/?random")
				+project('Independent', 'U.P. Book', "https://unsplash.it/970/540/?random")
				+project('Talk', 'TED x Dubai', "https://unsplash.it/960/547/?random")
				+project('Experience Design', 'Mill Touch', "https://unsplash.it/760/540/?random")
				+project('Experience Design', 'Nike Touch', "https://unsplash.it/560/540/?random")
				+project('UX + Design', 'Salon App', "https://unsplash.it/990/540/?random")
				+project('Independent', 'Posterity', "https://unsplash.it/960/549/?random")
		section.projects.flex-container
			header.projects__header.flex-item: h3.projects__group-name Pre-2010
			div.flex-container.projects-wrap
				+project('UX + Design', 'Coverse', "https://unsplash.it/969/540/?random")
				+project('UX + Design', 'US Open App', "https://unsplash.it/999/540/?random")
				+project('Independent', 'Mofongo : Live', "https://unsplash.it/960/540/?random")
				+project('Independent', 'Working Dead', "https://unsplash.it/960/540/?random")
				+project('Experimental Film', 'Urbicide', "https://unsplash.it/960/540/?random")
				+project('Independent', 'Monochrome Set', "https://unsplash.it/960/540/?random")
