@mixin col-bp-min($col) {
	@include bp-min( ( $col-width * $col + ( $col-width / 2 ) ) / $container-width-num) {
		@content;
	}
}

@mixin col-bp-max($col) {
	@include bp-max( ( $col-width * $col + ( $col-width / 2 ) ) / $container-width-num ) {
		@content;
	}
}

@for $i from 1 through 12 {
	.flex-col-#{$i} {
		flex-basis: 100% / 12 * $i;
	}
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	
	.flex-item {
		padding-left: $gutter;
		padding-right: $gutter;
	}

	&.projects-wrap .flex-item {
		flex: 0 0 $col-width;
		max-width: $col-width;		
	}

	&.projects-wrap {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex: 0 0 $col-width*2; 

		@for $i from 2 through 3 {
			@include bp-min( $col-width * $i + $col-width / 2 ) {
				flex-basis: $col-width * $i;
			}
		}
	
		@for $i from 3 through 8 {
			@include col-bp-min($i) {
				flex-basis: $col-width * $i;
			}
		}
	}
}
	
.projects__header {
	margin-bottom: $col-width/5;
	@include bp-min($col-width * 2.5) {
		order: 2;
	}

	&.flex-item {
		flex-grow: 1;
		flex-basis: $col-width/2;
	}
}
