@mixin col-bp-min($col) {
	@include bp-min($col-width * $col / $container-width-num) {
		@content;
	}
}

.flex-container {
	@include col-bp-min(3) {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	@for $i from 3 through 8 {
		@include col-bp-min($i) {
			max-width: $col-width * $i;
		}
	}
	
	.flex-item {
		padding-left: $gutter;
		padding-right: $gutter;
		flex: 0 0 $col-width;
		max-width: $col-width;
	}

	&.projects-wrap {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex: 0 0 calc(100% - #{$col-width}); 
	}
}
	
.projects__header {
	margin-bottom: $col-width/5;
	flex-grow: 0;
	flex-shrink: 3;
	flex-basis: auto;

	@include col-bp-min(3) {
		flex-basis: $col-width;
		order: 2;
	}
}