@mixin container-grid-bp-min($cols) {
	@include bp-min($col-width * $cols + $grid-offset-side * 2) {
		@content;
	}
}

@mixin container-grid-bp-max($cols) {
	@include bp-max($col-width * $cols + $grid-offset-side * 2 - 1px) {
		@content;
	}
}

.container-fluid {
	width: 100%;

	@include bp-min($col-width * 3) {
		width: $col-width * 3;
	}

	@for $i from 3 through 12 {
		@include container-grid-bp-min($i) {
			margin: 0 auto;
			width: $col-width * $i; 
		}
	}

	// @include bp-min($col-width * 3) {
	// 	width: $col-width * 3;
	// }

	// @include bp-min($col-width * 4) {
	// 	width: $col-width * 4;
	// }

	// @include bp-min($col-width * 4 / $container-width-num) {
	// 	margin-left: 10%;
	// 	width: $col-width * 4;
	// }

	// @include bp-min($col-width * 5 / $container-width-num) {
	// 	width: $col-width * 5;
	// }

	// @include bp-min($col-width * 6 / $container-width-num) {
	// 	width: $col-width * 6;
	// }

	// @include bp-min($col-width * 7 / $container-width-num) {
	// 	width: $col-width * 7;
	// }

	// @include bp-min($col-width * 8 / $container-width-num) {
	// 	width: $col-width * 8;
	// }

	// @include bp-min($col-width * 9 / $container-width-num) {
	// 	width: $col-width * 9;
	// }
}


