.navbar {
	padding: $gutter*1.5 0 $gutter;

	@include col-bp-min(one) {
		display: flex;
		align-items: center;
	}

	.active {
		font-weight: 700;
	}
}

.navbar__items {
	font-size: 13px;
	line-height: 16px;
	margin: 0;
	
	@include col-bp-min(three){
		display: flex;
	}

	li {
		margin-bottom: 6px;

		@include col-bp-min(three) {
			flex: 0 0 $col-width/2;
		}
	}

	a {
		text-decoration: none;
		padding-left: $gutter;
	}
}

.navbar__brand {
	width: $col-width;
	padding-left: $gutter;
	padding-right: $gutter;
	margin-bottom: $gutter;
	position: relative;
	left: -10px;

	@include col-bp-min(three) {
		margin-bottom: 0;
	}

	img {
		width: $col-width/4;
	}

	@include bp-min(1350px) {
		position: absolute;
		left: 0;
		padding: 0;
		width: 10%;
		text-align: center;
	}


	// img {
	// }
}