.navbar {
	padding: $gutter*0.5 0;
	background-color: white;
	display: flex;
	align-items: center;

	&.navbar-fixed {
		position: fixed;
		width: $container-width;
		left: (100% - $container-width) / 2;
		top: 0;
	}

	&.page-wrap {
		min-height: auto;
	}

	.active {
		font-weight: 700;
	}

	a {
		color: $black;
		font-size: 13px;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

.navbar__items {
	font-size: 13px;
	line-height: 16px;
	margin: 0;
	text-align: right;
	padding-right: $gutter;
	flex-grow:1;

	@include col-bp-min(3) {
		text-align: left;
		display: flex;
	}

	li {
		display: inline-block;
		margin-bottom: 6px;
		flex: 0 0 $col-width/2;
	}

	a {
		text-decoration: none;
		padding-left: $gutter;
	}
}

.navbar__brand {
	width: 20%;
	padding-left: $gutter;
	position: relative;
	left: -5px;

	@include col-bp-min(3) {
		width: (100% - $container-width) / 2 / $container-width-num;
		margin-left: (100% - $container-width) / 2 / $container-width-num * -1;
		text-align: center;
		padding-left: 0;
		margin-bottom: 0;
	}

	img {
		max-width: $gutter*2;

		@include col-bp-min(3) {
			max-width: $gutter * 1.5;
		}
	}
}