.navbar {
	padding: $gutter*0.5 0;
	background-color: white;
	display: flex;
	align-items: center;

	&.navbar-fixed {
		position: fixed;
		width: $container-width;
		left: (100% - $container-width) / 2;
		top: 0;
	}

	&.page-wrap {
		min-height: auto;
	}

	.active {
		font-weight: 700;
	}

	a {
		color: $black;
		font-size: 13px;
		text-decoration: none;
		padding-bottom: 1px;
		
		&:hover {
			border-bottom: 1px solid $primary-color;
		}
	}
}

.navbar__items {
	font-size: 13px;
	line-height: 16px;
	margin: 0;
	text-align: right;
	padding-right: $gutter;
	flex-grow:1;

	@include bp-min($col-width * 4 / $container-width-num) {
		text-align: left;
		display: flex;
	}

	li {
		display: inline-block;
		margin-bottom: 6px;
		flex: 0 0 $col-width/2;
		padding-left: $gutter;
	}

}

.navbar__brand {
	width: 20%;
	padding-left: $gutter;
	position: relative;
	left: -5px;

	@include bp-min($col-width * 4 / $container-width-num) {
		width: (100% - $container-width) / 2 / $container-width-num;
		margin-left: (100% - $container-width) / 2 / $container-width-num * -1;
		text-align: center;
		padding-left: 0;
		margin-bottom: 0;
	}

	img {
		max-width: $gutter*2;

		@include bp-min($col-width * 4 / $container-width-num) {
			max-width: $gutter * 1.5;
		}
	}
}