
.post {
	font-size: 13px;
	line-height: 16px;

	&__image,
	&__header,
	&__sidebar,
	&__content {
		padding: 0 $gutter;
	}
	// padding: 0 $gutter;

	&__header {
		margin-top: $gutter * 2;
		@include block-separator();
		
	}

	&__details {
		@include bp-min($col-width * 2.5) {
			display: flex;
		}
	}

	&__content {
		// flex: 0 0 40%;
		margin-bottom: $gutter;
	}

	&__images {
		// flex: 0 0 60%;
	}

	&__title {
		font-size: 19px;
		line-height: 23px;
		font-weight: 700;
		margin-bottom: 0;
	}

	&__subhead {
		font-weight: 700;
	}

	&__description {
		font-weight: 400;
		color: grey(60);
	}

	&__footer {
		padding-bottom: $gutter;
	}

	figure {
		margin-bottom: $gutter;
	}

	a.cta {
		font-weight: 700;
		text-decoration: none;
		@include arrow;
	}
}

.sidebar {

	&.post__sidebar {
		// padding-top: $gutter/2;
		// border-top: 2px solid black;
	}

	&__heading {
		font-size: 13px;
		font-weight: bold;

		&:first-child {
			border-top: 2px solid black;
			margin-top: 0;
			padding-top: $gutter/2;
		}
	}

	a {
		color: $dark-grey;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
