@function em($px, $context: $base-font-size){
	@return ($px / $context) + 0em;
}

@mixin font-sans($weight: null){
	font-family: $font-sans;
	font-weight: $weight;
}

.font-sans {
	@include font-sans();
}

@mixin font-serif($weight: null){
	font-family: $font-serif;
	font-weight: $weight;
	letter-spacing: -.02em;
}

.font-serif {
	@include font-serif();
}

@mixin tracking($tracking: $default-tracking) {
	text-transform: uppercase;
	letter-spacing: $tracking;
}

.tracked {
	@include tracking();
}

.text-centered {
	text-align: center;

	@include map-to-grid("max") {
		text-align: center;
	}
}

.text-left {
	text-align: left;

	@include map-to-grid("max") {
		text-align: left;
	}
}

.text-right {
	text-align: right;

	@include map-to-grid("max") {
		text-align: right;
	}
}

@mixin block($color: $block-color, $width: $block-width) {
	content: '';
	display: block;
	background: $color;
	width: $width;
}

@mixin block-separator($color: $block-color, $width: $block-width, $space: $block-margin, $height: $block-height, $centered: false){
	margin-bottom: $space;

	&:after{
		@include block($color, $width);
		height: $height;
		margin-top: $space;	

		@if $centered {
			margin-left: auto;
			margin-right: auto;
		}	
	}
}

.block-separator {
	@include block-separator();
}

.block-separator--centered {
	@include block-separator($centered: true);
}

