@mixin pill($padding: 1em, $radius: .25rem){
	padding: $padding;
	border-radius: $radius;	
	display: inline-block;
	width: initial;
	line-height: 1;
}

@mixin button($padding: .85em, $radius: .25rem){
	margin: $base-type-margin 0;
	text-decoration: none;
	@include pill($padding, $radius);
	transition: all $pace;
}

@mixin button-colors($text, $bg) {
	color: $text;
	background-color: $bg;

	&:hover {
		color: $bg;
		background-color: $text;
	}
}

.btn,
button {
	border: none;
	background: none;
	font-size: .85em;
	font-weight: 100;
	@include button();

	&:hover {
		cursor: pointer;
	}
}

.btn.cta {
	margin-bottom: 0;
}

.btn--inline {
	margin: 0;
}

.btn--small {
	@include button(.65rem);
	font-size: .85em;
}

.btn--pill {
	border: 1px solid $link-color;
}

@import "button-colors";