.btn-primary {
	@include button-colors($white, $primary-color);
}

.btn-default {
	color: grey(60);
	background-color: grey(10);

	&:hover {
		color: $white;
		background-color: grey(85);
	}
}

.btn--submit {
	color: $white;
	background-color: $primary-color;

	&:hover {
		color: $white;
		background-color: $black;
	}
}