body {
	min-width: $col-width * 2;
}

.site-header {
	margin-bottom: 2 * $gutter;
}

.site-footer {
	display: none;

	@include col-bp-min(3) {
		display: block;
		font-size: 13px;
		position: fixed;
		bottom: $gutter * 3;
		right: 0;
		transform: rotate(-90deg);

		p {
			margin: 0;
			padding: 0;
		}
	}
}

.page-wrap {
	background: linear-gradient(
        90deg,
        grey(10) 0%,
        transparent 0.5%
	);
	background-size: $col-width; 
	min-height: 100vh;

	&.navbar {
		background: linear-gradient(
	        90deg,
	        grey(10) 0%,
	        white 0.5%
		);
		background-size: $col-width; 
		min-height: auto;
	}
}