.site-header {
	margin-bottom: 2 * $gutter;
}

.page-wrap {
	background: linear-gradient(
        90deg,
        rgba(0,0,0,0.1) 0%,
        transparent 0.5%
	);
	background-size: $col-width; 

	min-height: 100vh;
}