.container {
	margin: 0 auto;
	@include clearfix();
	width: 100%;

	@include col-bp-min(two){
		width: $container-width;
	}

	@include bp-min($content-width/.9) {
		width: $content-width;
	}
}

// @mixin group(){
// 	@include clearfix;
// 	@include full-width();
// }

// .row,
// .group {
// 	@include group;
// }

// @import "grid-cols";
// @import "flex-cols";
// @import "grid-items";




